<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <nav class="sidenav">
    <section class="nav-group">
      <input id="account-side" type="checkbox">
      <label for="account-side">Tariff Management</label>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" routerLink="suppliers" routerLinkActive="active">Suppliers</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="tariffs" routerLinkActive="active">Tariffs</a></li>
      </ul>
    </section>
  </nav>
</div>
